Options -Indexes

<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|ini|inc|log|sql)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|ini|inc|log|sql)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
